.scm {
  background-color: #e9ecef !important;
  color: black;
}
.scm > * {
  background-color: #e9ecef !important;
  color: black;
}
.h-70 {
  height: 70px;
}
.scm::-moz-focus-inner {
  background-color: #e9ecef;
}
.scm:focus {
  background-color: #e9ecef;
}
.select2-container > * {
  background-color: #e9ecef !important;
}
.react-select .css-319lph-ValueContainer {
  height: 60px;
}
.react-select .css-1s2u09g-control {
  border-radius: 10px;
}

.react-select .css-1s2u09g-control:hover {
  border-radius: 10px;
}

.react-select .css-1hb7zxy-IndicatorsContainer span {
  display: none;
}
.react-select > * {
  background-color: #e9ecef !important;
}

.upload-btn {
  width: 100px;
  height: 50px;
  background-color: #5e72e4;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border-radius: 20px;
}
.btn-submit {
  height: 80px;
  width: 250px;
  color: white;
  border-radius: 20px;
  background-color: black;
  margin-top: 25px;
}
.datepicker {
  border-radius: 20px !important;
  background-color: #e9ecef;
}

.datepicker input {
  border-radius: 20px !important;
  background-color: #e9ecef;
}

.timepicker input {
  border-radius: 20px !important;
  background-color: #e9ecef;
  height: 60px;
}
.timepicker .rdtCount {
  width: fit-content !important;
}
.dadada {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.lbl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.uploadedimage {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  margin: 5px;
  /* opacity: 0.5; */
}
.carditems {
  display: flex;
}

.crd {
  margin: 20px;
  background-color: rgb(232, 232, 232);
}
.fa-window-close {
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 2;
  cursor: pointer;
}
.fa-window-close ::before {
  height: 20px !important;
  width: 20px !important;
}

.videomain {
  width: 100px;
  opacity: 0.5;
  height: 100px;
  margin: 10px;
  position: relative;
}

.react-thumbnail-generator {
  height: inherit;
}
.pro {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}
.css-1n7v3ny-option:hover {
  background-color: #5e72e4;
  color: white;
}
